# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so



# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

#db
*.sqlite




# Flask stuff:
instance/
.webassets-cache


# dotenv
.env
settings.cfg



#env set up
bucket.sublime-project
bucket.sublime-workspace

#DS files
.DS_Store
